*Makefile
*Makefile.in
stamp*
*/.deps
.libs
*.orig
*.o
*.lo
*.orig
configure
config.*
configure.in
m4/
mkinstalldirs
missing
compile
install-sh
ltmain.sh
depcomp
aclocal.m4
autom4te.cache
*.desktop
ChangeLog
INSTALL
\[config.h\].in
configure.ac
libtool
panel-plugin/libwavelan.la
panel-plugin/xfce4-wavelan-plugin
po/*.gmo
po/Makefile.in.in
po/POTFILES

ABOUT-NLS
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/xfce4-wavelan-plugin.pot
xfce4-wavelan-plugin-*.tar.bz2
