po/
*Makefile
*Makefile.in
stamp*
*/.deps
.libs
*.orig
*.o
*.lo
*.orig
configure
config.*
configure.in
intltool*
mkinstalldirs
missing
compile
install-sh
ltmain.sh
depcomp
aclocal.m4
autom4te.cache
*.desktop
ChangeLog
INSTALL
\[config.h\].in
configure.ac
libtool
panel-plugin/libwavelan.la
panel-plugin/xfce4-wavelan-plugin

